/* MQ de Tablet */

@media (min-width: 768px) {

    header {
        a img {
            max-width: 30%;
            padding-left: 2rem;
        }
        
        h2 {
            padding-right: 2rem;
        }

    }

    .contenedor-hoteles{
        grid-template-columns:repeat(2,1fr);
    }

    .contenedor-destacados{
        display: grid;
        padding: 1rem;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

