//variables
@use "../utilities/variables" as *;
@use "../utilities/listas" as *;
@use "../utilities/mixin" as *;

/* Información del hotel*/

.detalle-hotel{
    padding: 1.5rem 1rem;
    background-color: nth($lista-colores, 1 );
}

#nombre-hotel{
    font-size: 2rem;
    margin-bottom: .5rem;
}

.ubicacion{
    color: nth($lista-colores, 2 );
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

#imagen-principal{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

/* Galería */

.miniaturas {
    display: flex;
    justify-content: center;
    gap: .6rem;
    margin-top: 1rem;
    overflow-x: auto;
    padding-bottom: .4rem;

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: nth($lista-colores, 1);
        border-radius: 10px;
    }
}

.miniatura{
    flex-shrink: 0;
    width: 90px;
    height: 65px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: .3s;

    &:hover{
    transform: scale(1.05);
    border-color: nth($lista-colores, 2 );
    }
}

/* Descripción de hoteles */

.descripcion{
    margin: 1.8rem 0;
    line-height: 2;
    color: nth($lista-colores, 2 );
    text-align: center;
}

/* Servicios */

.servicios{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;

    li{
    color: nth($lista-colores, 2 ) ;
    line-height: 1.5;
}

}

/* Precio */

.precio{
    font-size: 1.5rem;
    font-weight: bold;
    color: #198754;
}


/* Seccion de reservas */

.selector-reserva {
    position: relative;
    width: 100%;
}

/* Botones principales */

#btn-personas, #btn-noches {
    width: 100%;
    padding: 1rem;
    background-color: nth($lista-colores, 1 );
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    color: nth($lista-colores, 2 );
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}



#btn-personas:hover, #btn-noches:hover {
    border-color: nth($lista-colores, 2 );
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}



/* Menú de cantidad de personas y noches */

.opciones {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: nth($lista-colores, 1 );
    border-radius: 14px;
    padding: .5rem;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    z-index: 20;

    button {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    text-align: left;
    font-size: .95rem;
    cursor: pointer;
    transition: background-color .2s ease;
    color: black;

    button:hover {
    background-color: nth($lista-colores, 2 );
    }
    }
}

/* Botón de reservar*/
.btn-reservar {
    background-color: #198754;

    &:hover {
        background-color: #146c43;
    }
}

/* ocultar opciones */

.oculto {
    display: none;
}

