//variables
@use "../utilities/variables" as *;
@use "../utilities/listas" as *;
@use "../utilities/mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: nth($lista-colores, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  img {
    max-width: 100px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
  }

  .paginaHotel,
  .paginaReservas{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 50px;
    transition: .3s ease;
    font-size: .85rem;
    color: nth($lista-colores, 1);
    border: 1px solid nth($lista-colores, 1);
    text-align: center;

    &:hover {
        background-color: nth($lista-colores, 1);
        color: black;
        transform: translateY(-2px);
    }
  }


  .volver-hoteles {
    color: black;
    background-color: white;
    border: 1px solid white;
    text-decoration: none;
    font-weight: 600;
    padding: .6rem 1rem;
    border-radius: 50px;
    transition: .3s ease;
    font-size: .85rem;

    &:hover {
        background-color: transparent;
        color: white;
        transform: translateY(-2px);
    }
  }
}