* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    max-width: 35%;
    padding-left: 1rem;
  }


  .paginaHotel{
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    padding-right: 1rem;
    text-transform: uppercase;
  }
}