h1 {
    text-align: center;
    padding: 1rem;
}

h2 {
    text-align: center;
    padding: 1rem;
}

.titulo-hoteles{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin: 2rem 0;
}

.contenedor-hoteles {
    display: grid;
    padding: 1.5rem;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.contenedor-destacados{
    display: grid;
    padding: 0.5rem 1rem 1rem 1rem;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.hotel-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    transition: transform .3s ease,
                box-shadow .3s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 35px rgba(0,0,0,.15);
    }
}

.hotel-image {
    height: 230px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .4s ease;
    }
}

.hotel-card:hover img {
    transform: scale(1.08);
}

.hotel-info {
    padding: 1.5rem;

    h3 {
        font-size: 1.4rem;
        margin: .8rem 0;
    }
}

.hotel-category {
    background-color: #e6f4ff;
    color: #0066cc;
    padding: .3rem .8rem;
    border-radius: 20px;
    font-size: .8rem;
}

.hotel-footer {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:1.5rem;
}


.hotel-price {
    font-size:1.3rem;
    font-weight:bold;

    span {
        font-size:.8rem;
        color:gray;
    }
}


button {
    background-color:#0077ff;
    color:white;
    border:none;
    padding:.7rem 1rem;
    border-radius:8px;
    cursor:pointer;

    &:hover {
        background-color:#005fcc;
    }
}

.suscripcion {
    background-color: black;
    color: whitesmoke;
    padding: 1rem;

    h3{
        text-align: center;
        padding: 1rem;
    }
}
